@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ElectroShop.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Category index</h1>
<div class="jumbotron">
    
    @foreach(var item in Model)
    {
    <a class="shadow btn btn-light mx-1" asp-action="Category" asp-controller="Browse" asp-route-id="@item.CategoryId" >@item.Name</a>
    }
    <p>
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a class="shadow btn btn-primary mx-1" asp-action="Create">Create New</a>
        </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCategory)
                </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="productimage" src="@item.ImageURL" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.ParentCategory != null)
                        {
                            @Html.DisplayFor(modelItem => item.ParentCategory.Name)
                        }
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="shadow btn btn-primary mx-1" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                            <a class="shadow btn btn-warning mx-1" asp-action="Details" asp-route-id="@item.CategoryId">Details</a>
                            <a class="shadow btn btn-danger mx-1" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    }
</div>
