@model BrowseCategoryViewModel


<div class="jumbotron">
    @if (Model.Category.ParentCategory != null)
    {
        <a class="shadow btn btn-primary" asp-action="Category" asp-route-id="@Model.Category.ParentCategory.CategoryId">Return to @Model.Category.ParentCategory.Name</a>
    }
    <p></p>
    <div>
        <h1>@Model.Category.Name</h1>
        <h4>@Model.Category.Description</h4>
    </div>
    <hr />

    <div class="row">
        @foreach (var category in Model.Category.SubCategories)
        {
            <a class="shadow btn btn-primary" asp-action="Category" asp-route-id="@category.CategoryId">
                <div class="col-md-4 m-1">
                    <img class="productimage" src="@category.ImageURL" />
                    <span>@category.Name</span>
                </div>
            </a>
        }
    </div>

    <table class="table">
        <thead style="background-color:#ACBFA4;">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td><img class="productimage" src="@product.ImageURL" /></td>
                    <td>
                        <a asp-controller="ProductModels"
                       asp-action="Details"
                       asp-route-id="@product.ProductId">
                            @product.Name
                        </a>
                    </td>
                    <td>@product.Price</td>
                    <td>
                        <a class="shadow btn btn-secondary mx-1" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" 
                           asp-route-productId="@product.ProductId" asp-route-returnUrl="~/Browse/Category/@Model.Category.CategoryId">Add to cart</a>
                        
                        <a class="shadow btn btn-warning mx-1" asp-controller="ProductModels" asp-action="Details" asp-route-id="@product.ProductId">Details</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
